# Ambiente virtual
venv/
__pycache__/
*.pyc
*.pyo
*.sqlite3

# Configurações locais
.env

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos gerados pelo Django
staticfiles/
media/

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal