{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h3>Detalhes da Despesa</h3>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">{{ expense.description }}</h5>
            <p class="card-text">
                <strong>Valor:</strong> R$ {{ expense.amount }}<br>
                <strong>Data:</strong> {{ expense.date }}<br>
                <strong>Carteira:</strong> {{ expense.wallet.name }}<br>
                <strong>Pagador:</strong> {{ expense.payer.username }}
            </p>
            <h6 class="mt-4">Beneficiários:</h6>
            <ul class="list-unstyled">
                {% for beneficiary in expense.beneficiaries.all %}
                <li>{{ beneficiary.username }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <a href="{% url 'core:expense_list' %}" class="btn btn-secondary mt-3">Voltar para lista</a>
</div>
{% endblock %}