<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FairShare{% endblock %}</title>
</head>
<body>
    <header>
        <h1>FairShare</h1>
    </header>
    <main>
        {% block content %}
        <!-- O conteúdo das páginas será inserido aqui -->
        {% endblock %}
    </main>
    <footer>
        <p>FairShare - Todos os direitos reservados</p>
    </footer>
</body>
</html>
